input {
  --_size: var(--size, 1em);
  --_color-unchecked-background: var(--color-unchecked-background, #d3d3d385);
  --_color-checked-background: var(--color-checked-background, #d3d3d3);
  --_color-unchecked-handler: var(--color-checked-handler, #808080);
  --_color-checked-handler: var(--color-checked-background, #80808085);
}

input {
  --_position: calc(-1.5 * var(--_size));
  --_color-handler: var(--_color-unchecked-handler);
  --_color-background: var(--_color-unchecked-background);

  z-index: 1;
  position: relative;
  width: calc(3.5 * var(--_size));
  height: calc(2 * var(--_size));
  inset: 0;
  appearance: none;
  cursor: pointer;
  border-radius: calc(2 * var(--_size));
  background-color: var(--_color-handler);

  /*  */
  transition: background-color,
    box-shadow var(--animation-input, 0.2s) ease-in-out;
  box-shadow: var(--_position) 0 0 calc(var(--_size) / 8)
      var(--_color-background) inset,
    0 0 0 calc(var(--_size) / 8) var(--_color-background) inset, 0 0;
}

input[readonly] {
  pointer-events: none;
}

input[disabled] {
  cursor: not-allowed;
  opacity: 0.35;
}

input {
}

input[checked],
input:checked {
  --_position: calc(1.5 * var(--_size));
  --_color-handler: var(--_color-checked-handler);
  --_color-background: var(--_color-checked-background);
}
