div {
  --_size: var(--size, 1em);
  --_color-accent: var(--color-accent, #2196f3);
  --_color-background: var(--color-background, #ccc);
  --_color-trigger: var(--color-trigger, #fff);

  display: inline-block;
  position: relative;
  width: calc(3.5 * var(--_size));
  height: calc(2 * var(--_size));
  isolation: isolate;
}

div input {
  z-index: 1;
  position: absolute;
  inset: 0;
  appearance: none;
  cursor: pointer;
}

div input[readonly] {
  pointer-events: none;
}

div input[disabled] {
  cursor: not-allowed;
}

div input::after {
  content: '';
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--_color-background);
  transition: 0.4s;
  border-radius: calc(2 * var(--_size));
}

div input::before {
  z-index: 2;
  position: absolute;
  content: '';
  height: calc(1.5 * var(--_size));
  width: calc(1.5 * var(--_size));
  left: calc(var(--_size) / 4);
  bottom: calc(var(--_size) / 4);
  background-color: var(--_color-trigger);
  transition: 0.3s;
  border-radius: 50%;
}

div input:checked::after,
div input[checked]::after {
  background-color: var(--_color-accent);
}

div input:checked::before,
div input[checked]::before {
  transform: translateX(calc(1.5 * var(--_size)));
}
