@layer qwik-ui {
  [data-qui-carousel-scroller] {
    overflow: hidden;
    display: flex;
    gap: var(--gap);
    /* for mobile & scroll-snap-start */
    scroll-snap-type: x mandatory;
  }

  [data-qui-carousel-slide] {
    /* default, feel free to override */
    --total-gap-width: calc(var(--gap) * (var(--slides-per-view) - 1));
    --available-slide-width: calc(100% - var(--total-gap-width));
    --slide-width: calc(var(--available-slide-width) / var(--slides-per-view));

    flex-basis: var(--slide-width);
    flex-shrink: 0;
  }

  @media (pointer: coarse) {
    [data-qui-carousel-scroller][data-draggable] {
      overflow-x: scroll;
    }

    /* make sure snap align is added after initial index animation */
    [data-draggable]:hover [data-qui-carousel-slide] {
      scroll-snap-align: start;
    }

    [data-draggable][data-align='center']:hover [data-qui-carousel-slide] {
      scroll-snap-align: center;
    }

    [data-draggable][data-align='end']:hover [data-qui-carousel-slide] {
      scroll-snap-align: end;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    [data-qui-carousel-player] {
      display: none;
    }
  }

  /* Workaround until scroll-snap-start is added to CSS. */
  [data-qui-scroll-start] {
    position: absolute;
    width: 1px;
    left: var(--scroll-start);
    container-type: size;
    visibility: hidden;
    animation: --snap 0.01s both;
  }

  [data-qui-scroll-start]::before {
    content: '';
    height: 1px;
    display: block;
  }

  @container (min-width: 1px) {
    [data-qui-scroll-start]::before {
      scroll-margin-left: 0px;
      scroll-snap-align: start;
    }
  }

  @keyframes --snap {
    to {
      width: 0;
    }
  }

  [data-qui-carousel-slide] {
    position: relative;
  }
}
