/* carousel */

.qui-carousel {
  align-items: start;
}

/* card */

.carousel__card {
  --card-width: max(min(25em, 20vw), 250px);
  --card-border-radius: 1em;
  --card-outline-color: transparent;
  --card-outline: 0.15em solid;
  --card-outline-offset: 0.1em;
  --card-margin: 2em;
  --card-width-shadow: 1em;
  --transition-ms: 150ms;

  --button-border-radius: 0.35em;
  --button-background-color: #19b6f6;
}

.carousel__card {
  width: var(--card-width);
  align-items: start;
  height: max-content;
  border-radius: var(--card-border-radius);
  outline-color: var(--card-outline-color);
  transition: margin calc(var(--transition-ms) * 1.5) ease-out;
}

article > :first-child {
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

article > :last-child {
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

article {
  position: relative;
  left: 0;
  right: 0;
  margin: calc(var(--card-margin) + var(--card-width-shadow)) calc(var(--card-margin) / 4);
  border-radius: var(--card-border-radius);
  transition: margin calc(var(--transition-ms) * 1.5) 100ms ease-out,
    box-shadow calc(var(--transition-ms) * 2.5) ease-out;
  overflow: hidden;
}

/* card content */

img {
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  transition: border-radius calc(var(--transition-ms) * 0.75) ease-in-out;
}

.inner {
  display: grid;
  row-gap: 0.5em;
  background-color: black;
  padding: 1em;
  transition: opacity calc(var(--transition-ms) * 1.5) ease-out;
  opacity: 0;
  height: 0;
  position: absolute;
}

.inner h3 {
  font-size: x-large;
  font-weight: bolder;
  margin-block: 1em;
  line-height: 1;
}

.inner a {
  padding: 0.75em 1.35em;
  background-color: var(--button-background-color);
  border-radius: var(--button-border-radius);
  color: black;
  margin-inline-start: auto;
  margin-block: 1em;
}

/* state */

.carousel__card:focus-within article {
  outline: var(--card-outline);
  outline-offset: var(--card-outline-offset);
}

.carousel__card[aria-current='true'] {
  --card-margin: -2em;
}

.carousel__card[aria-current='true']:first-child article {
  margin-inline-start: var(--card-width-shadow);
  margin-inline-end: calc(2 * var(--card-margin) - var(--card-width-shadow));
}

.carousel__card[aria-current='true']:last-child article {
  margin-inline-start: calc(2 * var(--card-margin) - var(--card-width-shadow));
  margin-inline-end: var(--card-width-shadow);
}

.carousel__card[aria-current='true'] article {
  box-shadow: 0 0 var(--card-width-shadow) rgba(0, 0, 0, 0.75),
    0 0.375em 0.375em rgba(0, 0, 0, 0.5);
  margin-block: var(--card-width-shadow);
  margin-inline: var(--card-margin);
}

.carousel__card[aria-current='true'] img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.carousel__card[aria-current='true'] .inner {
  height: auto;
  position: relative;
  opacity: 1;
}

/* page layout */

header h2 {
  font-size: x-large;
  flex-grow: 1;
}

header,
nav {
  display: flex;
  align-items: center;
}

header {
  margin-block-start: 2em;
}

hr {
  margin-block: 0.5em 2em;
  opacity: 0.25;
}

/* navigation */

button[disabled] {
  opacity: 0.35;
}
