[data-theme='light'] {
  --wrapper-color-bg: rgb(226 232 240);
}

[data-theme='dark'] {
  --wrapper-color-bg: rgb(15 23 42);
}

.wrapper__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.wrapper__content {
  background-color: var(--wrapper-color-bg) !important;
  border-radius: 0.25rem;
  padding: 0.75rem;
}
