.breadcrumb-item {
  display: inline-flex;
  align-items: center;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.breadcrumb-item--hovered:hover {
  text-decoration: underline;
  color: hsl(258.89 94.378% 51.176%);
}

.breadcrumb-item--active {
  color: hsl(258.89 94.378% 51.176%);
}
