# Build
dist
lib-types
/server

# Development
node_modules
#migrations.json

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo
.nx/cache

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/qwik.code-snippets

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn
.yarn/*
!.yarn/releases

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
coverage
/libpeerconnection.log
testem.log
/typings
packages/kit-headless/browsers/chrome/*

# System Files
.DS_Store
Thumbs.db

# Storybook
**/storybook-static/*

# Cypress
**/cypress/screenshots
**/cypress/videos

# Verdaccio
tmp

