{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 90,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./apps/website/tailwind.config.cjs",
  "tailwindFunctions": ["clsx", "cva"]
}
