*[data-state] {
  z-index: 99;
  position: absolute;
  opacity: 0;
}

*[data-state='positioned'] {
  display: block;
  top: var(--y, 0px);
  left: var(--x, 0px);
  transition: opacity var(--duration) linear;
  opacity: 1;
}

*[data-state='unpositioned'] {
  display: block;
  visibility: 'hidden';
  opacity: 0;
}

*[data-state='closing'] {
  top: var(--y, 0px);
  left: var(--x, 0px);
  transition: opacity var(--duration) linear;
  transition-delay: var(--duration) ms;
  opacity: 0;
}

*[data-state='hidden'] {
  display: none;
}
