header {
  display: flex;
  justify-content: center;
  background: white;
  border-bottom: 10px solid var(--qwik-dark-purple);
}

header .logo {
  display: inline-block;
  padding: 10px 10px 7px 20px;
}
