:root {
  --select-width: 12rem;
}

.select {
  min-width: var(--select-width);
}

.select-trigger {
  width: 100%;
  border: 2px dotted hsla(var(--primary) / 1);
  border-radius: calc(var(--border-radius) / 2);
  height: 44px;
}

.select-popover {
  width: 100%;
  max-width: var(--select-width);
}

.select-listbox {
  width: 100%;
  background-color: hsl(var(--background));
  padding: 0.5rem;
  border: 2px dotted hsla(var(--foreground) / 0.6);
  border-radius: calc(var(--border-radius) / 2);
  max-width: var(--select-width);
  color: hsl(var(--foreground));
}

.select-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsla(var(--foreground) / 0.8);
  padding-top: 0.5rem;
}

.select-max-height {
  max-height: 15rem;
  overflow-y: auto;
}

[data-highlighted] {
  outline: 2px dotted hsla(var(--primary) / 1);
  border-radius: calc(var(--border-radius) / 2);
}

[data-disabled] {
  opacity: 0.6;
  background: hsl(var(--foreground) / 0.05);
}
