.toggle-container {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: oklch(from var(--foreground) l c h);
  display: flex;
  flex-direction: column;
}

.toggle {
  width: auto;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
  line-height: 1;
  background-color: oklch(from var(--background) l c h);
  border: 2px dotted oklch(from var(--primary) l c h / 1);
  border-radius: 0;
}

/* Default background when aria-pressed is false */
.toggle[aria-pressed='false'] {
  background-color: oklch(from var(--background) l c h) !important;
  color: oklch(from var(--foreground) l c h);
}
/* Ensure focus or active state does not override when aria-pressed is false */
.toggle[aria-pressed='false']:focus,
.toggle[aria-pressed='false']:active {
  background-color: oklch(from var(--background) l c h) !important;
  color: oklch(from var(--foreground) l c h);
}

.toggle:hover {
  background-color: oklch(from var(--primary) l c h / 0.08);
}

/* Focused and Pressed states */
.toggle:focus-visible {
  outline: 2px solid oklch(from var(--primary) l c h);
  outline-offset: 2px;
}

.toggle:focus,
.toggle:active {
  background-color: oklch(from var(--primary) l c h);
  color: white;
}

/* When the toggle is pressed */
.toggle[aria-pressed='true'] {
  background-color: oklch(from var(--primary) l c h) !important;
  color: white;
}

.toggle[aria-pressed='true']:focus {
  outline: 2px solid oklch(from var(--secondary) l c h);
}

[data-disabled] {
  opacity: 0.6;
  background: oklch(from var(--foreground) l c h / 0.05);
}
