/* reset */
input {
  all: unset;
}

.label-container {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: hsl(var(--foreground));
}

input {
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
  line-height: 1;
  background-color: hsl(var(--background));
  box-shadow: 0 0 0 1px hsl(var(--foreground));
}

input:focus {
  box-shadow: 0 0 0 2px hsl(var(--foreground));
}

input::selection {
  background-color: var(--black-a9);
  color: white;
}
