[role='listbox'][data-closed] {
  display: none;
}

[role='listbox'][data-open] {
  display: revert;
}

[data-item-indicator] {
  display: none;
}

[data-item-indicator][data-selected] {
  display: revert;
}
