h1 {
  margin: 2rem 0;
  padding-top: 1rem;
  font-weight: bold;
  border-top: 1px dotted #222;
}

h2 {
  margin-block: 1.15em 0.5em;
  font-size: xx-large;
}

h3 {
  margin-block: 0.85em 0.35em;
  font-size: x-large;
}

hr {
  margin-block: 2em;
}

.form-item {
  width: 35em;
}

.outter {
  display: grid;
}

.inner {
  display: flex;
  align-items: center;
}

.controls {
  padding: 2em;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.control {
  width: 2em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s 0.1s ease-out;
  cursor: pointer;
}

.control[aria-current='true'] {
  font-weight: 900;
}

.img {
  height: 500px;
  object-fit: cover;
}

.item {
  width: 350px;
}

.item:nth-child(8),
.item:nth-child(6),
.item:nth-child(2) {
  width: 100px;
}

.item:nth-child(5),
.item:nth-child(3) {
  width: 150px;
}
