.popover-content {
  position: absolute;
  /*box-sizing: border-box;*/
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  pointer-events: none;
}

.popover-content.close {
  opacity: 0;
  pointer-events: none;
}

.popover-content.open {
  opacity: 1;
  pointer-events: auto;
}
