/* This only applies when popover isn't supported */
@supports not selector(:popover-open) {
  /* The polyfill adds this class when popped out */
  [popover]:not(.\:popover-open) {
    display: none;
  }
}

.popover-closing {
  display: block !important;
}

/* .popover-closing[popover]:not(:popover-open):not(dialog[open]) {
  display: block;
} */

/* Popover Presets: TODO figure out specificity to make this easier for user to override */
.listbox {
  margin: unset;
  padding: unset;
  border: unset;
  overflow: unset;
  position: absolute;
}
