@layer base {
  :root {
    --color-background: hsl(0, 0%, 100%);
    --color-foreground: hsl(263, 84%, 5%);

    --color-primary: hsl(263, 56%, 52%);
    --color-primary-foreground: hsl(0, 0%, 100%);

    --color-secondary: hsl(202, 91%, 52%);
    --color-secondary-foreground: hsl(0, 0%, 100%);

    --color-muted: hsl(210, 40%, 96%);
    --color-muted-foreground: hsl(263, 16%, 47%);

    --color-accent: hsl(0, 0%, 83%);
    --color-accent-foreground: hsl(263, 47%, 11%);

    --color-destructive: hsl(0, 84%, 60%);
    --color-destructive-foreground: hsl(0, 0%, 100%);

    --color-card: hsl(0, 0%, 100%);
    --color-card-foreground: hsl(263, 84%, 5%);

    --color-popover: hsl(0, 0%, 100%);
    --color-popover-foreground: hsl(263, 84%, 5%);

    --color-border: hsl(263, 32%, 91%);

    --color-input: hsl(263, 32%, 91%);

    --color-ring: hsl(263, 18%, 61%);

    --border-radius: 0.375rem;
  }

  .dark {
    --color-background: hsl(263, 84%, 5%);
    --color-foreground: hsl(263, 40%, 98%);

    --color-primary: hsl(263, 70%, 58%);
    --color-primary-foreground: hsl(190 40% 98%);

    --color-secondary: hsl(202, 97%, 55%);
    --color-secondary-foreground: hsl(190 40% 98%);

    --color-muted: hsl(218 32.6% 17.5%);
    --color-muted-foreground: hsl(263 20.2% 65.1%);

    --color-accent: hsl(0, 0%, 26%);
    --color-accent-foreground: hsl(263 32.6% 17.5%);

    --color-destructive: hsl(0, 70%, 41%);
    --color-destructive-foreground: hsl(263 40% 98%);

    --color-card: hsl(263 84% 4.9%);
    --color-card-foreground: hsl(263 40% 98%);

    --color-popover: hsl(263 84% 4.9%);
    --color-popover-foreground: hsl(263 40% 98%);

    --color-border: hsl(263 32.6% 17.5%);

    --color-input: hsl(263 32.6% 17.5%);

    --color-ring: hsl(263 26.8% 83.9%);
  }
}
