@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    --border-width: 1px;
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 1);
    --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 1);
  }

  .simple {
    --border-width: 1px;
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 1);
    --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 1);
  }

  .brutalist {
    --border-width: 4px;
    --shadow-sm: -2px 3px 0px 0 rgba(0, 0, 0, 1);
    --shadow: 4px 5px 0px 0 rgba(0, 0, 0, 1);
    --shadow-md: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    --shadow-lg: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    --shadow-xl: 8px 10px 0px 0px rgba(0, 0, 0, 1), -2px -2px 2px 0px rgba(0, 0, 0, 1);
    --shadow-2xl: 12px 12px 0px 0px rgba(0, 0, 0, 1), -4px -4px 2px 0px rgba(0, 0, 0, 1);
    --shadow-inner: inset 2px 2px 0px 0px rgba(0, 0, 0, 1);
  }

  .neoskeuomorphic {
    --border-width: 1px; /* Light, subtle borders */
    --shadow-sm: 0 2px 2px -1px rgba(0, 0, 0, 0.2); /* Soft, small shadow */
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2); /* Default soft shadow */
    --shadow-md: 0 6px 8px -2px rgba(0, 0, 0, 0.2); /* Medium, softer shadow */
    --shadow-lg: 0 8px 10px -2px rgba(0, 0, 0, 0.2); /* Larger, soft shadow */
    --shadow-xl: 0 10px 20px -3px rgba(0, 0, 0, 0.2); /* Extra large, soft shadow */
    --shadow-2xl: 0 15px 25px -5px rgba(0, 0, 0, 0.2); /* Very large, soft shadow */
    --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Inner shadow for depth */
  }

  .border-radius-0 {
    --border-radius: 0;
  }

  .border-radius-025 {
    --border-radius: 0.25rem;
  }

  .border-radius-050 {
    --border-radius: 0.5rem;
  }

  .border-radius-075 {
    --border-radius: 0.75rem;
  }

  .border-radius-1 {
    --border-radius: 1rem;
  }

  .light {
    --background: 197 100% 100%;
    --foreground: 197 84% 0%;
    --muted: 187 0% 96%;
    --muted-foreground: 190 5% 33%;
    --popover: 0 0% 100%;
    --popover-foreground: 197 84% 0%;
    --accent: 187 0% 96%;
    --accent-foreground: 197 33% 0%;
    --primary: 199 100% 41%;
    --primary-foreground: 187 0% 100%;
    --secondary: 263 74% 63%;
    --secondary-foreground: 263 0% 100%;
    --warning: 45 90% 60%;
    --warning-foreground: 0 0% 0%;
    --alert: 0 85% 56%;
    --alert-foreground: 0 0% 100%;
    --success: 120 70% 30%;
    --success-foreground: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 197 84% 0%;
    --input: 190 11% 67%;
    --ring: 197 100% 43%;
    --border: 217 0% 0%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 263 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 199 90% 35%;
    --primary-foreground: 210 40% 100%;
    --secondary: 263 50% 55%;
    --secondary-foreground: 0 0% 100%;
    --muted: 222 22% 23%;
    --muted-foreground: 255 5% 80%;
    --accent: 222 22% 23%;
    --accent-foreground: 250 40% 99%;
    --destructive: 0 64% 44%;
    --destructive-foreground: 250 40% 98%;
    --border: 217 18% 33%;
    --input: 217 18% 33%;
    --ring: 270 50% 56%;
  }

  /* specificity hack */
  .light.high-contrast.high-contrast {
    --foreground: 0 0% 0%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;
  }

  /* specificity hack */
  .dark.high-contrast.high-contrast {
    --foreground: 0 0% 100%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 0 0% 100%;
  }

  /* use colors from colors.ts */

  .slate-100,
  .slate-900.dark {
    --primary: 210 40% 96.1%;
  }
  .slate-200,
  .slate-800.dark {
    --primary: 214.3 31.8% 91.4%;
  }
  .slate-300 {
    --primary: 212.7 26.8% 83.9%;
  }
  .slate-400 {
    --primary: 215 20.2% 65.1%;
  }
  .slate-500 {
    --primary: 215.4 16.3% 46.9%;
  }
  .slate-600 {
    --primary: 215.3 19.3% 34.5%;
  }
  .slate-700 {
    --primary: 215.3 25% 26.7%;
  }
  .slate-800 {
    --primary: 217.2 32.6% 17.5%;
  }
  .slate-900 {
    --primary: 222.2 47.4% 11.2%;
  }
  .slate-100,
  .slate-200,
  .slate-300,
  .slate-400,
  .slate-800.dark,
  .slate-900.dark {
    --primary-foreground: 0 0% 0%;
  }
  .slate-500,
  .slate-600,
  .slate-700,
  .slate-800,
  .slate-900 {
    --primary-foreground: 0 0% 100%;
  }
  .slate-100.light,
  .slate-200.light,
  .slate-300.light,
  .slate-400.light,
  .slate-500.light,
  .slate-600.light,
  .slate-700.light,
  .slate-800.light,
  .slate-900.light {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 222.2 84% 4.9%;
  }
  .slate-100.dark,
  .slate-200.dark,
  .slate-300.dark,
  .slate-400.dark,
  .slate-500.dark,
  .slate-600.dark,
  .slate-700.dark,
  .slate-800.dark,
  .slate-900.dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 212.7 26.8% 83.9;
  }

  .gray-100,
  .gray-900.dark {
    --primary: 220 14.3% 95.9%;
  }
  .gray-200,
  .gray-800.dark {
    --primary: 220 13% 91%;
  }
  .gray-300 {
    --primary: 216 12.2% 83.9%;
  }
  .gray-400 {
    --primary: 217.9 10.6% 64.9%;
  }
  .gray-500 {
    --primary: 220 8.9% 46.1%;
  }
  .gray-600 {
    --primary: 215 13.8% 34.1%;
  }
  .gray-700 {
    --primary: 216.9 19.1% 26.7%;
  }
  .gray-800 {
    --primary: 215 27.9% 16.9%;
  }
  .gray-900 {
    --primary: 220.9 39.3% 11%;
  }
  .gray-100,
  .gray-200,
  .gray-300,
  .gray-400,
  .gray-800.dark,
  .gray-900.dark {
    --primary-foreground: 0 0% 0%;
  }
  .gray-500,
  .gray-600,
  .gray-700,
  .gray-800,
  .gray-900 {
    --primary-foreground: 0 0% 100%;
  }
  .gray-100.light,
  .gray-200.light,
  .gray-300.light,
  .gray-400.light,
  .gray-500.light,
  .gray-600.light,
  .gray-700.light,
  .gray-800.light,
  .gray-900.light {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --ring: 224 71.4% 4.1%;
  }
  .gray-100.dark,
  .gray-200.dark,
  .gray-300.dark,
  .gray-400.dark,
  .gray-500.dark,
  .gray-600.dark,
  .gray-700.dark,
  .gray-800.dark,
  .gray-900.dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --ring: 216 12.2% 83.9%;
  }

  .zinc-100,
  .zinc-900.dark {
    --primary: 240 4.8% 95.9%;
  }
  .zinc-200,
  .zinc-800.dark {
    --primary: 240 5.9% 90%;
  }
  .zinc-300 {
    --primary: 240 4.9% 83.9%;
  }
  .zinc-400 {
    --primary: 240 5% 64.9%;
  }
  .zinc-500 {
    --primary: 240 3.8% 46.1%;
  }
  .zinc-600 {
    --primary: 240 5.2% 33.9%;
  }
  .zinc-700 {
    --primary: 240 5.3% 26.1%;
  }
  .zinc-800 {
    --primary: 240 3.7% 15.9%;
  }
  .zinc-900 {
    --primary: 240 5.9% 10%;
  }
  .zinc-100,
  .zinc-200,
  .zinc-300,
  .zinc-400,
  .zinc-800.dark,
  .zinc-900.dark {
    --primary-foreground: 0 0% 0%;
  }
  .zinc-500,
  .zinc-600,
  .zinc-700,
  .zinc-800,
  .zinc-900 {
    --primary-foreground: 0 0% 100%;
  }
  .zinc-100.light,
  .zinc-200.light,
  .zinc-300.light,
  .zinc-400.light,
  .zinc-500.light,
  .zinc-600.light,
  .zinc-700.light,
  .zinc-800.light,
  .zinc-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5.9% 10%;
  }
  .zinc-100.dark,
  .zinc-200.dark,
  .zinc-300.dark,
  .zinc-400.dark,
  .zinc-500.dark,
  .zinc-600.dark,
  .zinc-700.dark,
  .zinc-800.dark,
  .zinc-900.dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 4.9% 83.9%;
  }

  .neutral-100,
  .neutral-900.dark {
    --primary: 0 0% 96.1%;
  }
  .neutral-200,
  .neutral-900.dark {
    --primary: 0 0% 89.8%;
  }
  .neutral-300 {
    --primary: 0 0% 83.1%;
  }
  .neutral-400 {
    --primary: 0 0% 63.9%;
  }
  .neutral-500 {
    --primary: 0 0% 45.1%;
  }
  .neutral-600 {
    --primary: 0 0% 32.2%;
  }
  .neutral-700 {
    --primary: 0 0% 25.1%;
  }
  .neutral-800 {
    --primary: 0 0% 14.9%;
  }
  .neutral-900 {
    --primary: 0 0% 9%;
  }
  .neutral-100,
  .neutral-200,
  .neutral-300,
  .neutral-400,
  .neutral-800.dark,
  .neutral-900.dark {
    --primary-foreground: 0 0% 0%;
  }
  .neutral-500,
  .neutral-600,
  .neutral-700,
  .neutral-800,
  .neutral-900 {
    --primary-foreground: 0 0% 100%;
  }
  .neutral-100.light,
  .neutral-200.light,
  .neutral-300.light,
  .neutral-400.light,
  .neutral-500.light,
  .neutral-600.light,
  .neutral-700.light,
  .neutral-800.light,
  .neutral-900.light {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
  }
  .neutral-100.dark,
  .neutral-200.dark,
  .neutral-300.dark,
  .neutral-400.dark,
  .neutral-500.dark,
  .neutral-600.dark,
  .neutral-700.dark,
  .neutral-800.dark,
  .neutral-900.dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 83.1%;
  }

  .stone-100,
  .stone-900.dark {
    --primary: 60 4.8% 95.9%;
  }
  .stone-200,
  .stone-900.dark {
    --primary: 20 5.9% 90%;
  }
  .stone-300 {
    --primary: 24 5.7% 82.9%;
  }
  .stone-400 {
    --primary: 24 5.4% 63.9%;
  }
  .stone-500 {
    --primary: 25 5.3% 44.7%;
  }
  .stone-600 {
    --primary: 33.3 5.5% 32.4%;
  }
  .stone-700 {
    --primary: 30 6.3% 25.1%;
  }
  .stone-800 {
    --primary: 12 6.5% 15.1%;
  }
  .stone-900 {
    --primary: 24 9.8% 10%;
  }
  .stone-100,
  .stone-200,
  .stone-300,
  .stone-400,
  .stone-800.dark,
  .stone-900.dark {
    --primary-foreground: 0 0% 0%;
  }
  .stone-500,
  .stone-600,
  .stone-700,
  .stone-800,
  .stone-900 {
    --primary-foreground: 0 0% 100%;
  }
  .stone-100.light,
  .stone-200.light,
  .stone-300.light,
  .stone-400.light,
  .stone-500.light,
  .stone-600.light,
  .stone-700.light,
  .stone-800.light,
  .stone-900.light {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 20 14.3% 4.1%;
  }
  .stone-100.dark,
  .stone-200.dark,
  .stone-300.dark,
  .stone-400.dark,
  .stone-500.dark,
  .stone-600.dark,
  .stone-700.dark,
  .stone-800.dark,
  .stone-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 24 5.7% 82.9%;
  }

  .red-100 {
    --primary: 0 93.3% 94.1%;
  }
  .red-200 {
    --primary: 0 96.3% 89.4%;
  }
  .red-300 {
    --primary: 0 93.5% 81.8%;
  }
  .red-400 {
    --primary: 0 90.6% 70.8%;
  }
  .red-500 {
    --primary: 0 84.2% 60.2%;
  }
  .red-600 {
    --primary: 0 72.2% 50.6%;
  }
  .red-700 {
    --primary: 0 73.7% 41.8%;
  }
  .red-800 {
    --primary: 0 70% 35.3%;
  }
  .red-900 {
    --primary: 0 62.8% 30.6%;
  }
  .red-100,
  .red-200,
  .red-300,
  .red-400,
  .red-500 {
    --primary-foreground: 0 0% 0%;
  }
  .red-600,
  .red-700,
  .red-800,
  .red-900 {
    --primary-foreground: 0 0% 100%;
  }
  .red-100.light,
  .red-200.light,
  .red-300.light,
  .red-400.light,
  .red-500.light,
  .red-600.light,
  .red-700.light,
  .red-800.light,
  .red-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .red-100.dark,
  .red-200.dark,
  .red-300.dark,
  .red-400.dark,
  .red-500.dark,
  .red-600.dark,
  .red-700.dark,
  .red-800.dark,
  .red-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .orange-100 {
    --primary: 34.3 100% 91.8%;
  }
  .orange-200 {
    --primary: 32.1 97.7% 83.1%;
  }
  .orange-300 {
    --primary: 30.7 97.2% 72.4%;
  }
  .orange-400 {
    --primary: 27 96% 61%;
  }
  .orange-500 {
    --primary: 24.6 95% 53.1%;
  }
  .orange-600 {
    --primary: 20.5 90.2% 48.2%;
  }
  .orange-700 {
    --primary: 17.5 88.3% 40.4%;
  }
  .orange-800 {
    --primary: 15 79.1% 33.7%;
  }
  .orange-900 {
    --primary: 15.3 74.6% 27.8%;
  }
  .orange-100,
  .orange-200,
  .orange-300,
  .orange-400,
  .orange-500,
  .orange-600 {
    --primary-foreground: 0 0% 0%;
  }
  .orange-700,
  .orange-800,
  .orange-900 {
    --primary-foreground: 0 0% 100%;
  }
  .orange-100.light,
  .orange-200.light,
  .orange-300.light,
  .orange-400.light,
  .orange-500.light,
  .orange-600.light,
  .orange-700.light,
  .orange-800.light,
  .orange-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .orange-100.dark,
  .orange-200.dark,
  .orange-300.dark,
  .orange-400.dark,
  .orange-500.dark,
  .orange-600.dark,
  .orange-700.dark,
  .orange-800.dark,
  .orange-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .amber-100 {
    --primary: 48 96.5% 88.8%;
  }
  .amber-200 {
    --primary: 48 96.6% 76.7%;
  }
  .amber-300 {
    --primary: 45.9 96.7% 64.5%;
  }
  .amber-400 {
    --primary: 43.3 96.4% 56.3%;
  }
  .amber-500 {
    --primary: 37.7 92.1% 50.2%;
  }
  .amber-600 {
    --primary: 32.1 94.6% 43.7%;
  }
  .amber-700 {
    --primary: 26 90.5% 37.1%;
  }
  .amber-800 {
    --primary: 22.7 82.5% 31.4%;
  }
  .amber-900 {
    --primary: 21.7 77.8% 26.5%;
  }
  .amber-100,
  .amber-200,
  .amber-300,
  .amber-400,
  .amber-500,
  .amber-600 {
    --primary-foreground: 0 0% 0%;
  }
  .amber-700,
  .amber-800,
  .amber-900 {
    --primary-foreground: 0 0% 100%;
  }
  .amber-100.light,
  .amber-200.light,
  .amber-300.light,
  .amber-400.light,
  .amber-500.light,
  .amber-600.light,
  .amber-700.light,
  .amber-800.light,
  .amber-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .amber-100.dark,
  .amber-200.dark,
  .amber-300.dark,
  .amber-400.dark,
  .amber-500.dark,
  .amber-600.dark,
  .amber-700.dark,
  .amber-800.dark,
  .amber-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .yellow-100 {
    --primary: 54.9 96.7% 88%;
  }
  .yellow-200 {
    --primary: 52.8 98.3% 76.9%;
  }
  .yellow-300 {
    --primary: 50.4 97.8% 63.5%;
  }
  .yellow-400 {
    --primary: 47.9 95.8% 53.1%;
  }
  .yellow-500 {
    --primary: 45.4 93.4% 47.5%;
  }
  .yellow-600 {
    --primary: 40.6 96.1% 40.4%;
  }
  .yellow-700 {
    --primary: 35.5 91.7% 32.9%;
  }
  .yellow-800 {
    --primary: 31.8 81% 28.8%;
  }
  .yellow-900 {
    --primary: 28.4 72.5% 25.7%;
  }
  .yellow-100,
  .yellow-200,
  .yellow-300,
  .yellow-400,
  .yellow-500,
  .yellow-600 {
    --primary-foreground: 0 0% 0%;
  }
  .yellow-700,
  .yellow-800,
  .yellow-900 {
    --primary-foreground: 0 0% 100%;
  }
  .yellow-100.light,
  .yellow-200.light,
  .yellow-300.light,
  .yellow-400.light,
  .yellow-500.light,
  .yellow-600.light,
  .yellow-700.light,
  .yellow-800.light,
  .yellow-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .yellow-100.dark,
  .yellow-200.dark,
  .yellow-300.dark,
  .yellow-400.dark,
  .yellow-500.dark,
  .yellow-600.dark,
  .yellow-700.dark,
  .yellow-800.dark,
  .yellow-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .lime-100 {
    --primary: 79.6 89.1% 89.2%;
  }
  .lime-200 {
    --primary: 80.9 88.5% 79.6%;
  }
  .lime-300 {
    --primary: 82 84.5% 67.1%;
  }
  .lime-400 {
    --primary: 82.7 78% 55.5%;
  }
  .lime-500 {
    --primary: 83.7 80.5% 44.3%;
  }
  .lime-600 {
    --primary: 84.8 85.2% 34.5%;
  }
  .lime-700 {
    --primary: 85.9 78.4% 27.3%;
  }
  .lime-800 {
    --primary: 86.3 69% 22.7%;
  }
  .lime-900 {
    --primary: 87.6 61.2% 20.2%;
  }
  .lime-100,
  .lime-200,
  .lime-300,
  .lime-400,
  .lime-500,
  .lime-600 {
    --primary-foreground: 0 0% 0%;
  }
  .lime-700,
  .lime-800,
  .lime-900 {
    --primary-foreground: 0 0% 100%;
  }
  .lime-100.light,
  .lime-200.light,
  .lime-300.light,
  .lime-400.light,
  .lime-500.light,
  .lime-600.light,
  .lime-700.light,
  .lime-800.light,
  .lime-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .lime-100.dark,
  .lime-200.dark,
  .lime-300.dark,
  .lime-400.dark,
  .lime-500.dark,
  .lime-600.dark,
  .lime-700.dark,
  .lime-800.dark,
  .lime-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .green-100 {
    --primary: 140.6 84.2% 92.5%;
  }
  .green-200 {
    --primary: 141 78.9% 85.1%;
  }
  .green-300 {
    --primary: 141.7 76.6% 73.1%;
  }
  .green-400 {
    --primary: 141.9 69.2% 58%;
  }
  .green-500 {
    --primary: 142.1 70.6% 45.3%;
  }
  .green-600 {
    --primary: 142.1 76.2% 36.3%;
  }
  .green-700 {
    --primary: 142.4 71.8% 29.2%;
  }
  .green-800 {
    --primary: 142.8 64.2% 24.1%;
  }
  .green-900 {
    --primary: 143.8 61.2% 20.2%;
  }
  .green-100,
  .green-200,
  .green-300,
  .green-400,
  .green-500 {
    --primary-foreground: 0 0% 0%;
  }
  .green-600,
  .green-700,
  .green-800,
  .green-900 {
    --primary-foreground: 0 0% 100%;
  }
  .green-100.light,
  .green-200.light,
  .green-300.light,
  .green-400.light,
  .green-500.light,
  .green-600.light,
  .green-700.light,
  .green-800.light,
  .green-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .green-100.dark,
  .green-200.dark,
  .green-300.dark,
  .green-400.dark,
  .green-500.dark,
  .green-600.dark,
  .green-700.dark,
  .green-800.dark,
  .green-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .emerald-100 {
    --primary: 149.3 80.4% 90%;
  }
  .emerald-200 {
    --primary: 152.4 76% 80.4%;
  }
  .emerald-300 {
    --primary: 156.2 71.6% 66.9%;
  }
  .emerald-400 {
    --primary: 158.1 64.4% 51.6%;
  }
  .emerald-500 {
    --primary: 160.1 84.1% 39.4%;
  }
  .emerald-600 {
    --primary: 161.4 93.5% 30.4%;
  }
  .emerald-700 {
    --primary: 162.9 93.5% 24.3%;
  }
  .emerald-800 {
    --primary: 163.1 88.1% 19.8%;
  }
  .emerald-900 {
    --primary: 164.2 85.7% 16.5%;
  }
  .emerald-100,
  .emerald-200,
  .emerald-300,
  .emerald-400,
  .emerald-500 {
    --primary-foreground: 0 0% 0%;
  }
  .emerald-600,
  .emerald-700,
  .emerald-800,
  .emerald-900 {
    --primary-foreground: 0 0% 100%;
  }
  .emerald-100.light,
  .emerald-200.light,
  .emerald-300.light,
  .emerald-400.light,
  .emerald-500.light,
  .emerald-600.light,
  .emerald-700.light,
  .emerald-800.light,
  .emerald-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .emerald-100.dark,
  .emerald-200.dark,
  .emerald-300.dark,
  .emerald-400.dark,
  .emerald-500.dark,
  .emerald-600.dark,
  .emerald-700.dark,
  .emerald-800.dark,
  .emerald-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .teal-100 {
    --primary: 167.2 85.5% 89.2%;
  }
  .teal-200 {
    --primary: 168.4 83.8% 78.2%;
  }
  .teal-300 {
    --primary: 170.6 76.9% 64.3%;
  }
  .teal-400 {
    --primary: 172.5 66% 50.4%;
  }
  .teal-500 {
    --primary: 173.4 80.4% 40%;
  }
  .teal-600 {
    --primary: 174.7 83.9% 31.6%;
  }
  .teal-700 {
    --primary: 175.3 77.4% 26.1%;
  }
  .teal-800 {
    --primary: 176.1 69.4% 21.8%;
  }
  .teal-900 {
    --primary: 175.9 60.8% 19%;
  }
  .teal-100,
  .teal-200,
  .teal-300,
  .teal-400,
  .teal-500 {
    --primary-foreground: 0 0% 0%;
  }
  .teal-600,
  .teal-700,
  .teal-800,
  .teal-900 {
    --primary-foreground: 0 0% 100%;
  }
  .teal-100.light,
  .teal-200.light,
  .teal-300.light,
  .teal-400.light,
  .teal-500.light,
  .teal-600.light,
  .teal-700.light,
  .teal-800.light,
  .teal-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .teal-100.dark,
  .teal-200.dark,
  .teal-300.dark,
  .teal-400.dark,
  .teal-500.dark,
  .teal-600.dark,
  .teal-700.dark,
  .teal-800.dark,
  .teal-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .cyan-100 {
    --primary: 185.1 95.9% 90.4%;
  }
  .cyan-200 {
    --primary: 186.2 93.5% 81.8%;
  }
  .cyan-300 {
    --primary: 187 92.4% 69%;
  }
  .cyan-400 {
    --primary: 187.9 85.7% 53.3%;
  }
  .cyan-500 {
    --primary: 188.7 94.5% 42.7%;
  }
  .cyan-600 {
    --primary: 191.6 91.4% 36.5%;
  }
  .cyan-700 {
    --primary: 192.9 82.3% 31%;
  }
  .cyan-800 {
    --primary: 194.4 69.6% 27.1%;
  }
  .cyan-900 {
    --primary: 196.4 63.6% 23.7%;
  }
  .cyan-100,
  .cyan-200,
  .cyan-300,
  .cyan-400,
  .cyan-500 {
    --primary-foreground: 0 0% 0%;
  }
  .cyan-600,
  .cyan-700,
  .cyan-800,
  .cyan-900 {
    --primary-foreground: 0 0% 100%;
  }
  .cyan-100.light,
  .cyan-200.light,
  .cyan-300.light,
  .cyan-400.light,
  .cyan-500.light,
  .cyan-600.light,
  .cyan-700.light,
  .cyan-800.light,
  .cyan-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .cyan-100.dark,
  .cyan-200.dark,
  .cyan-300.dark,
  .cyan-400.dark,
  .cyan-500.dark,
  .cyan-600.dark,
  .cyan-700.dark,
  .cyan-800.dark,
  .cyan-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .sky-100 {
    --primary: 204 93.8% 93.7%;
  }
  .sky-200 {
    --primary: 200.6 94.4% 86.1%;
  }
  .sky-300 {
    --primary: 199.4 95.5% 73.9%;
  }
  .sky-400 {
    --primary: 198.4 93.2% 59.6%;
  }
  .sky-500 {
    --primary: 198.6 88.7% 48.4%;
  }
  .sky-600 {
    --primary: 200.4 98% 39.4%;
  }
  .sky-700 {
    --primary: 201.3 96.3% 32.2%;
  }
  .sky-800 {
    --primary: 201 90% 27.5%;
  }
  .sky-900 {
    --primary: 202 80.3% 23.9%;
  }
  .sky-100,
  .sky-200,
  .sky-300,
  .sky-400,
  .sky-500 {
    --primary-foreground: 0 0% 0%;
  }
  .sky-600,
  .sky-700,
  .sky-800,
  .sky-900 {
    --primary-foreground: 0 0% 100%;
  }
  .sky-100.light,
  .sky-200.light,
  .sky-300.light,
  .sky-400.light,
  .sky-500.light,
  .sky-600.light,
  .sky-700.light,
  .sky-800.light,
  .sky-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .sky-100.dark,
  .sky-200.dark,
  .sky-300.dark,
  .sky-400.dark,
  .sky-500.dark,
  .sky-600.dark,
  .sky-700.dark,
  .sky-800.dark,
  .sky-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .blue-100 {
    --primary: 214.3 94.6% 92.7%;
  }
  .blue-200 {
    --primary: 213.3 96.9% 87.3%;
  }
  .blue-300 {
    --primary: 211.7 96.4% 78.4%;
  }
  .blue-400 {
    --primary: 213.1 93.9% 67.8%;
  }
  .blue-500 {
    --primary: 217.2 91.2% 59.8%;
  }
  .blue-600 {
    --primary: 221.2 83.2% 53.3%;
  }
  .blue-700 {
    --primary: 224.3 76.3% 48%;
  }
  .blue-800 {
    --primary: 225.9 70.7% 40.2%;
  }
  .blue-900 {
    --primary: 224.4 64.3% 32.9%;
  }
  .blue-100,
  .blue-200,
  .blue-300,
  .blue-400,
  .blue-500 {
    --primary-foreground: 0 0% 0%;
  }
  .blue-600,
  .blue-700,
  .blue-800,
  .blue-900 {
    --primary-foreground: 0 0% 100%;
  }
  .blue-100.light,
  .blue-200.light,
  .blue-300.light,
  .blue-400.light,
  .blue-500.light,
  .blue-600.light,
  .blue-700.light,
  .blue-800.light,
  .blue-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .blue-100.dark,
  .blue-200.dark,
  .blue-300.dark,
  .blue-400.dark,
  .blue-500.dark,
  .blue-600.dark,
  .blue-700.dark,
  .blue-800.dark,
  .blue-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .indigo-100 {
    --primary: 226.5 100% 93.9%;
  }
  .indigo-200 {
    --primary: 228 96.5% 88.8%;
  }
  .indigo-300 {
    --primary: 229.7 93.5% 81.8%;
  }
  .indigo-400 {
    --primary: 234.5 89.5% 73.9%;
  }
  .indigo-500 {
    --primary: 238.7 83.5% 66.7%;
  }
  .indigo-600 {
    --primary: 243.4 75.4% 58.6%;
  }
  .indigo-700 {
    --primary: 244.5 57.9% 50.6%;
  }
  .indigo-800 {
    --primary: 243.7 54.5% 41.4%;
  }
  .indigo-900 {
    --primary: 242.2 47.4% 34.3%;
  }
  .indigo-100,
  .indigo-200,
  .indigo-300,
  .indigo-400,
  .indigo-500 {
    --primary-foreground: 0 0% 0%;
  }
  .indigo-600,
  .indigo-700,
  .indigo-800,
  .indigo-900 {
    --primary-foreground: 0 0% 100%;
  }
  .indigo-100.light,
  .indigo-200.light,
  .indigo-300.light,
  .indigo-400.light,
  .indigo-500.light,
  .indigo-600.light,
  .indigo-700.light,
  .indigo-800.light,
  .indigo-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .indigo-100.dark,
  .indigo-200.dark,
  .indigo-300.dark,
  .indigo-400.dark,
  .indigo-500.dark,
  .indigo-600.dark,
  .indigo-700.dark,
  .indigo-800.dark,
  .indigo-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .violet-100 {
    --primary: 251.4 91.3% 95.5%;
  }
  .violet-200 {
    --primary: 250.5 95.2% 91.8%;
  }
  .violet-300 {
    --primary: 252.5 94.7% 85.1%;
  }
  .violet-400 {
    --primary: 255.1 91.7% 76.3%;
  }
  .violet-500 {
    --primary: 258.3 89.5% 66.3%;
  }
  .violet-600 {
    --primary: 262.1 83.3% 57.8%;
  }
  .violet-700 {
    --primary: 263.4 70% 50.4%;
  }
  .violet-800 {
    --primary: 263.4 69.3% 42.2%;
  }
  .violet-900 {
    --primary: 263.5 67.4% 34.9%;
  }
  .violet-100,
  .violet-200,
  .violet-300,
  .violet-400,
  .violet-500 {
    --primary-foreground: 0 0% 0%;
  }
  .violet-600,
  .violet-700,
  .violet-800,
  .violet-900 {
    --primary-foreground: 0 0% 100%;
  }
  .violet-100.light,
  .violet-200.light,
  .violet-300.light,
  .violet-400.light,
  .violet-500.light,
  .violet-600.light,
  .violet-700.light,
  .violet-800.light,
  .violet-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .violet-100.dark,
  .violet-200.dark,
  .violet-300.dark,
  .violet-400.dark,
  .violet-500.dark,
  .violet-600.dark,
  .violet-700.dark,
  .violet-800.dark,
  .violet-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .purple-100 {
    --primary: 268.7 100% 95.5%;
  }
  .purple-200 {
    --primary: 268.6 100% 91.8%;
  }
  .purple-300 {
    --primary: 269.2 97.4% 85.1%;
  }
  .purple-400 {
    --primary: 270 95.2% 75.3%;
  }
  .purple-500 {
    --primary: 270.7 91% 65.1%;
  }
  .purple-600 {
    --primary: 271.5 81.3% 55.9%;
  }
  .purple-700 {
    --primary: 272.1 71.7% 47.1%;
  }
  .purple-800 {
    --primary: 272.9 67.2% 39.4%;
  }
  .purple-900 {
    --primary: 273.6 65.6% 32%;
  }
  .purple-100,
  .purple-200,
  .purple-300,
  .purple-400,
  .purple-500 {
    --primary-foreground: 0 0% 0%;
  }
  .purple-600,
  .purple-700,
  .purple-800,
  .purple-900 {
    --primary-foreground: 0 0% 100%;
  }
  .purple-100.light,
  .purple-200.light,
  .purple-300.light,
  .purple-400.light,
  .purple-500.light,
  .purple-600.light,
  .purple-700.light,
  .purple-800.light,
  .purple-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .purple-100.dark,
  .purple-200.dark,
  .purple-300.dark,
  .purple-400.dark,
  .purple-500.dark,
  .purple-600.dark,
  .purple-700.dark,
  .purple-800.dark,
  .purple-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .fuchsia-100 {
    --primary: 287 100% 95.5%;
  }
  .fuchsia-200 {
    --primary: 288.3 95.8% 90.6%;
  }
  .fuchsia-300 {
    --primary: 291.1 93.1% 82.9%;
  }
  .fuchsia-400 {
    --primary: 292 91.4% 72.5%;
  }
  .fuchsia-500 {
    --primary: 292.2 84.1% 60.6%;
  }
  .fuchsia-600 {
    --primary: 293.4 69.5% 48.8%;
  }
  .fuchsia-700 {
    --primary: 294.7 72.4% 39.8%;
  }
  .fuchsia-800 {
    --primary: 295.4 70.2% 32.9%;
  }
  .fuchsia-900 {
    --primary: 296.7 63.6% 28%;
  }
  .fuchsia-100,
  .fuchsia-200,
  .fuchsia-300,
  .fuchsia-400,
  .fuchsia-500 {
    --primary-foreground: 0 0% 0%;
  }
  .fuchsia-600,
  .fuchsia-700,
  .fuchsia-800,
  .fuchsia-900 {
    --primary-foreground: 0 0% 100%;
  }
  .fuchsia-100.light,
  .fuchsia-200.light,
  .fuchsia-300.light,
  .fuchsia-400.light,
  .fuchsia-500.light,
  .fuchsia-600.light,
  .fuchsia-700.light,
  .fuchsia-800.light,
  .fuchsia-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .fuchsia-100.dark,
  .fuchsia-200.dark,
  .fuchsia-300.dark,
  .fuchsia-400.dark,
  .fuchsia-500.dark,
  .fuchsia-600.dark,
  .fuchsia-700.dark,
  .fuchsia-800.dark,
  .fuchsia-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .pink-100 {
    --primary: 325.7 77.8% 94.7%;
  }
  .pink-200 {
    --primary: 325.9 84.6% 89.8%;
  }
  .pink-300 {
    --primary: 327.4 87.1% 81.8%;
  }
  .pink-400 {
    --primary: 328.6 85.5% 70.2%;
  }
  .pink-500 {
    --primary: 330.4 81.2% 60.4%;
  }
  .pink-600 {
    --primary: 333.3 71.4% 50.6%;
  }
  .pink-700 {
    --primary: 335.1 77.6% 42%;
  }
  .pink-800 {
    --primary: 335.8 74.4% 35.3%;
  }
  .pink-900 {
    --primary: 335.9 69% 30.4%;
  }
  .pink-100,
  .pink-200,
  .pink-300,
  .pink-400,
  .pink-500 {
    --primary-foreground: 0 0% 0%;
  }
  .pink-600,
  .pink-700,
  .pink-800,
  .pink-900 {
    --primary-foreground: 0 0% 100%;
  }
  .pink-100.light,
  .pink-200.light,
  .pink-300.light,
  .pink-400.light,
  .pink-500.light,
  .pink-600.light,
  .pink-700.light,
  .pink-800.light,
  .pink-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .pink-100.dark,
  .pink-200.dark,
  .pink-300.dark,
  .pink-400.dark,
  .pink-500.dark,
  .pink-600.dark,
  .pink-700.dark,
  .pink-800.dark,
  .pink-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }

  .rose-100 {
    --primary: 355.6 100% 94.7%;
  }
  .rose-200 {
    --primary: 352.7 96.1% 90%;
  }
  .rose-300 {
    --primary: 352.6 95.7% 81.8%;
  }
  .rose-400 {
    --primary: 351.3 94.5% 71.4%;
  }
  .rose-500 {
    --primary: 349.7 89.2% 60.2%;
  }
  .rose-600 {
    --primary: 346.8 77.2% 49.8%;
  }
  .rose-700 {
    --primary: 345.3 82.7% 40.8%;
  }
  .rose-800 {
    --primary: 343.4 79.7% 34.7%;
  }
  .rose-900 {
    --primary: 341.5 75.5% 30.4%;
  }
  .rose-100,
  .rose-200,
  .rose-300,
  .rose-400,
  .rose-500 {
    --primary-foreground: 0 0% 0%;
  }
  .rose-600,
  .rose-700,
  .rose-800,
  .rose-900 {
    --primary-foreground: 0 0% 100%;
  }
  .rose-100.light,
  .rose-200.light,
  .rose-300.light,
  .rose-400.light,
  .rose-500.light,
  .rose-600.light,
  .rose-700.light,
  .rose-800.light,
  .rose-900.light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
  }
  .rose-100.dark,
  .rose-200.dark,
  .rose-300.dark,
  .rose-400.dark,
  .rose-500.dark,
  .rose-600.dark,
  .rose-700.dark,
  .rose-800.dark,
  .rose-900.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer components {
  /* per component */
  button.qwik-ui-animation,
  a.qwik-ui-animation {
    @apply transition active:scale-90;
  }
  input.qwik-ui-animation {
    @apply transition active:scale-125;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  *::-webkit-scrollbar {
    background-color: transparent;
    width: 1rem;
    height: 1rem;
  }

  *::-webkit-scrollbar-thumb {
    /* Thumb color */
    background-color: var(--qwikui-slate-500);
    border-radius: 0.5rem;
    background-clip: padding-box;
    border: 0.3rem solid transparent;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }

  *::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: 1px solid var(--qwikui-slate-300);
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: var(--qwikui-slate-500);
  }

  .dark *::-webkit-scrollbar-track {
    background: var(--qwikui-slate-950);
    border-left: 1px solid var(--qwikui-slate-800);
  }

  .code-example *::-webkit-scrollbar-track {
    background: transparent;
    border-left: 0px;
  }

  .code-example *::-webkit-scrollbar-thumb {
    background: var(--qwikui-slate-400);
    border-radius: 0.5rem;
    background-clip: padding-box;
    border: 0.35rem solid transparent;
  }

  .code-example *::-webkit-scrollbar-thumb:hover {
    background: var(--qwikui-slate-500);
    border-radius: 0.5rem;
    background-clip: padding-box;
    border: 0.35rem solid transparent;
  }

  /* no horizontal overflow on code snippets */
  .tab-size pre {
    white-space: pre-wrap;
    background: transparent !important;
  }

  .note-link a {
    border-bottom: 1px solid var(--qwikui-slate-950) !important;
  }

  .dark .note-link a {
    border-bottom: 1px solid white !important;
  }
}

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --dark-color-bg: rgb(30 41 59);
  --dark-color-text: rgb(203 213 225);
  --light-color-bg: rgb(203 213 225);
  --light-color-text: #333;

  /* primary colors */
  --qwikui-purple-50: #f9f5ff;
  --qwikui-purple-100: #f2e8ff;
  --qwikui-purple-200: #e7d6fe;
  --qwikui-purple-300: #d4b5fd;
  --qwikui-purple-400: #b37bfa;
  --qwikui-purple-500: #9f57f5;
  --qwikui-purple-600: #8835e8;
  --qwikui-purple-700: #7424cc;
  --qwikui-purple-800: #6323a6;
  --qwikui-purple-900: #521d86;
  --qwikui-purple-950: #360863;

  --qwikui-blue-50: #effaff;
  --qwikui-blue-100: #def3ff;
  --qwikui-blue-200: #b6eaff;
  --qwikui-blue-300: #76dbff;
  --qwikui-blue-400: #2dcaff;
  --qwikui-blue-500: #02b9fc;
  --qwikui-blue-600: #0090d2;
  --qwikui-blue-700: #0073aa;
  --qwikui-blue-800: #00618c;
  --qwikui-blue-900: #075073;
  --qwikui-blue-950: #04334d;

  /* neutrals */
  --qwikui-slate-50: #f8fafc;
  --qwikui-slate-100: #f1f5f9;
  --qwikui-slate-200: #e2e8f0;
  --qwikui-slate-300: #cbd5e1;
  --qwikui-slate-400: #94a3b8;
  --qwikui-slate-500: #64748b;
  --qwikui-slate-600: #475569;
  --qwikui-slate-700: #334155;
  --qwikui-slate-800: #1e293b;
  --qwikui-slate-900: #0f172a;
  --qwikui-slate-950: #020617;
}

html {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-family: 'Inter Variable', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.2;
}

p,
ul,
ol {
  line-height: 1.75;
}

/* Utilities layer for animations. The current arbitrary & docs tailwind animation guidelines are not maintainable long term. 
  It would make more sense to supply the user with the animation declaration in the docs.
*/
@layer utilities {
  .accordion-animation-1[data-state='open'] {
    animation: 500ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards accordion-open;
  }

  .accordion-animation-1[data-state='closed'] {
    animation: 500ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards accordion-close;
  }

  .text-outline-lg {
    text-shadow: 1.6px 0.6px 0 var(--qwikui-blue-800),
      -0.6px -0.6px 0 var(--qwikui-blue-800), 0.6px -0.6px 0 var(--qwikui-blue-800),
      -0.6px 0.6px 0 var(--qwikui-blue-800), 0.6px 0.6px 0 var(--qwikui-blue-800);
  }

  .dark .text-outline-lg {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-purple-900),
      -0.6px -0.6px 0 var(--qwikui-purple-900), 0.6px -0.6px 0 var(--qwikui-purple-900),
      -0.6px 0.6px 0 var(--qwikui-purple-900), 0.6px 0.6px 0 var(--qwikui-purple-900);
  }

  .text-outline-beta {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-blue-800),
      -0.5px -0.5px 0 var(--qwikui-blue-800), 0.5px -0.5px 0 var(--qwikui-blue-800),
      -0.5px 0.5px 0 var(--qwikui-blue-800), 0.5px 0.5px 0 var(--qwikui-blue-800);
  }

  .dark .text-outline-beta {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-purple-800),
      -0.5px -0.5px 0 var(--qwikui-purple-800), 0.5px -0.5px 0 var(--qwikui-purple-800),
      -0.5px 0.5px 0 var(--qwikui-purple-800), 0.5px 0.5px 0 var(--qwikui-purple-800);
  }

  .text-outline-draft {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-slate-900),
      -0.5px -0.5px 0 var(--qwikui-slate-900), 0.5px -0.5px 0 var(--qwikui-slate-900),
      -0.5px 0.5px 0 var(--qwikui-slate-900), 0.5px 0.5px 0 var(--qwikui-slate-900);
  }
  .dark .text-outline-draft {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-slate-950),
      -0.5px -0.5px 0 var(--qwikui-slate-950), 0.5px -0.5px 0 var(--qwikui-slate-950),
      -0.5px 0.5px 0 var(--qwikui-slate-950), 0.5px 0.5px 0 var(--qwikui-slate-950);
  }

  .text-outline-planned {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-slate-500),
      -0.5px -0.5px 0 var(--qwikui-slate-500), 0.5px -0.5px 0 var(--qwikui-slate-500),
      -0.5px 0.5px 0 var(--qwikui-slate-500), 0.5px 0.5px 0 var(--qwikui-slate-500);
  }

  .dark .text-outline-planned {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-slate-500),
      -0.4px -0.4px 0 var(--qwikui-slate-500), 0.4px -0.4px 0 var(--qwikui-slate-500),
      -0.4px 0.4px 0 var(--qwikui-slate-500), 0.4px 0.4px 0 var(--qwikui-slate-500);
  }

  .text-outline-blue-title {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-blue-800),
      -0.6px -0.6px 0 var(--qwikui-blue-800), 0.6px -0.6px 0 var(--qwikui-blue-800),
      -0.6px 0.6px 0 var(--qwikui-blue-800), 0.6px 0.6px 0 var(--qwikui-blue-800);
  }

  .text-outline-purple-title {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-purple-900),
      -0.6px -0.6px 0 var(--qwikui-purple-900), 0.6px -0.6px 0 var(--qwikui-purple-900),
      -0.6px 0.6px 0 var(--qwikui-purple-900), 0.6px 0.6px 0 var(--qwikui-purple-900);
  }

  .dark .text-outline-blue-title {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-blue-700),
      -0.8px -0.8px 0 var(--qwikui-blue-700), 0.8px -0.8px 0 var(--qwikui-blue-700),
      -0.8px 0.8px 0 var(--qwikui-blue-700), 0.8px 0.8px 0 var(--qwikui-blue-700);
  }

  .dark .text-outline-purple-title {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-purple-700),
      -0.8px -0.8px 0 var(--qwikui-purple-700), 0.8px -0.8px 0 var(--qwikui-purple-700),
      -0.8px 0.8px 0 var(--qwikui-purple-700), 0.8px 0.8px 0 var(--qwikui-purple-700);
  }

  .setup-grid-areas {
    grid-template-areas: 'nav main toc';
  }

  .copy-btn-bg-dark {
    background: hsla(215, 25%, 27%, 0.9);
  }

  .copy-btn-bg-light {
    background: hsla(214, 32%, 91%, 0.9);
  }
}
