@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 197 84% 0%;
    --card: 0 0% 100%;
    --card-foreground: 197 84% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 197 84% 0%;
    --primary: 199 100% 41%;
    --primary-foreground: 187 0% 100%;
    --secondary: 263 74% 63%;
    --secondary-foreground: 263 0% 100%;
    --muted: 187 0% 96%;
    --muted-foreground: 190 5% 33%;
    --accent: 187 0% 96%;
    --accent-foreground: 197 33% 0%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 187 40% 98%;
    --border: 190 18% 67%;
    --input: 190 18% 67%;
    --ring: 197 93% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 263 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 263 50% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 70% 43%;
    --secondary-foreground: 210 40% 100%;
    --muted: 222 33% 18%;
    --muted-foreground: 255 11% 80%;
    --accent: 222 33% 18%;
    --accent-foreground: 250 40% 99%;
    --destructive: 0 64% 30%;
    --destructive-foreground: 250 40% 98%;
    --border: 217 18% 33%;
    --input: 217 18% 33%;
    --ring: 270 80% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  *::-webkit-scrollbar {
    background-color: transparent;
    width: 1rem;
    height: 1rem;
  }

  *::-webkit-scrollbar-thumb {
    /* Thumb color */
    background-color: var(--qwikui-slate-500);
    border-radius: 0.5rem;
    background-clip: padding-box;
    border: 0.3rem solid transparent;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }

  *::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: 1px solid var(--qwikui-slate-300);
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: var(--qwikui-slate-500);
  }

  .dark *::-webkit-scrollbar-track {
    background: var(--qwikui-slate-950);
    border-left: 1px solid var(--qwikui-slate-800);
  }

  .code-example *::-webkit-scrollbar-track {
    background: transparent;
    border-left: 0px;
  }

  .code-example *::-webkit-scrollbar-thumb {
    background: var(--qwikui-slate-400);
    border-radius: 0.5rem;
    background-clip: padding-box;
    border: 0.35rem solid transparent;
  }

  .code-example *::-webkit-scrollbar-thumb:hover {
    background: var(--qwikui-slate-500);
    border-radius: 0.5rem;
    background-clip: padding-box;
    border: 0.35rem solid transparent;
  }

  /* no horizontal overflow on code snippets */
  .tab-size pre {
    white-space: pre-wrap;
    background: transparent !important;
  }

  .note-link a {
    border-bottom: 1px solid var(--qwikui-slate-950) !important;
  }

  .dark .note-link a {
    border-bottom: 1px solid white !important;
  }
}

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --dark-color-bg: rgb(30 41 59);
  --dark-color-text: rgb(203 213 225);
  --light-color-bg: rgb(203 213 225);
  --light-color-text: #333;

  /* primary colors */
  --qwikui-purple-50: #f9f5ff;
  --qwikui-purple-100: #f2e8ff;
  --qwikui-purple-200: #e7d6fe;
  --qwikui-purple-300: #d4b5fd;
  --qwikui-purple-400: #b37bfa;
  --qwikui-purple-500: #9f57f5;
  --qwikui-purple-600: #8835e8;
  --qwikui-purple-700: #7424cc;
  --qwikui-purple-800: #6323a6;
  --qwikui-purple-900: #521d86;
  --qwikui-purple-950: #360863;

  --qwikui-blue-50: #effaff;
  --qwikui-blue-100: #def3ff;
  --qwikui-blue-200: #b6eaff;
  --qwikui-blue-300: #76dbff;
  --qwikui-blue-400: #2dcaff;
  --qwikui-blue-500: #02b9fc;
  --qwikui-blue-600: #0090d2;
  --qwikui-blue-700: #0073aa;
  --qwikui-blue-800: #00618c;
  --qwikui-blue-900: #075073;
  --qwikui-blue-950: #04334d;

  /* neutrals */
  --qwikui-slate-50: #f8fafc;
  --qwikui-slate-100: #f1f5f9;
  --qwikui-slate-200: #e2e8f0;
  --qwikui-slate-300: #cbd5e1;
  --qwikui-slate-400: #94a3b8;
  --qwikui-slate-500: #64748b;
  --qwikui-slate-600: #475569;
  --qwikui-slate-700: #334155;
  --qwikui-slate-800: #1e293b;
  --qwikui-slate-900: #0f172a;
  --qwikui-slate-950: #020617;

  /* light themed shadows */
  --light-shadow-color: 0deg 0% 63%;
  --light-shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--light-shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--light-shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--light-shadow-color) / 0.34);
  --light-shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--light-shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--light-shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--light-shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--light-shadow-color) / 0.36);
  --light-shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--light-shadow-color) / 0.3),
    1.3px 2.6px 3.3px -0.3px hsl(var(--light-shadow-color) / 0.3),
    2.4px 4.8px 6px -0.6px hsl(var(--light-shadow-color) / 0.3),
    3.7px 7.5px 9.4px -0.9px hsl(var(--light-shadow-color) / 0.3),
    5.7px 11.3px 14.2px -1.2px hsl(var(--light-shadow-color) / 0.3),
    8.5px 16.9px 21.3px -1.6px hsl(var(--light-shadow-color) / 0.3),
    12.4px 24.9px 31.3px -1.9px hsl(var(--light-shadow-color) / 0.3),
    17.8px 35.7px 44.9px -2.2px hsl(var(--light-shadow-color) / 0.3),
    25px 50px 62.9px -2.5px hsl(var(--light-shadow-color) / 0.3);

  /* dark themed shadows */
  --dark-shadow-color: 218deg 49% 7%;
  --dark-shadow-elevation-low: 0.4px 0.6px 0.8px hsl(var(--dark-shadow-color) / 0.34),
    0.7px 1px 1.4px -1.2px hsl(var(--dark-shadow-color) / 0.34),
    1.7px 2.5px 3.4px -2.5px hsl(var(--dark-shadow-color) / 0.34);
  --dark-shadow-elevation-medium: 0.4px 0.6px 0.8px hsl(var(--dark-shadow-color) / 0.36),
    1.4px 2px 2.7px -0.8px hsl(var(--dark-shadow-color) / 0.36),
    3.5px 5.1px 7px -1.7px hsl(var(--dark-shadow-color) / 0.36),
    8.6px 12.3px 16.9px -2.5px hsl(var(--dark-shadow-color) / 0.36);
  --dark-shadow-elevation-high: 0.4px 0.6px 0.8px hsl(var(--dark-shadow-color) / 0.3),
    2.3px 3.2px 4.4px -0.3px hsl(var(--dark-shadow-color) / 0.3),
    4.1px 5.8px 8px -0.6px hsl(var(--dark-shadow-color) / 0.3),
    6.4px 9.2px 12.6px -0.9px hsl(var(--dark-shadow-color) / 0.3),
    9.8px 13.9px 19.1px -1.2px hsl(var(--dark-shadow-color) / 0.3),
    14.6px 20.8px 28.6px -1.6px hsl(var(--dark-shadow-color) / 0.3),
    21.4px 30.6px 42px -1.9px hsl(var(--dark-shadow-color) / 0.3),
    30.8px 43.9px 60.3px -2.2px hsl(var(--dark-shadow-color) / 0.3),
    43.1px 61.5px 84.5px -2.5px hsl(var(--dark-shadow-color) / 0.3);
}

.light {
  --bg: rgb(255, 255, 255);
  --text: var(--qwikui-slate-950);
}

.dark {
  --bg: var(--qwikui-slate-800);
  --text: #fff;
}

html {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;

  background-color: var(--bg) !important;
  color: var(--text) !important;
}

body {
  min-height: 100%;
  font-family: 'Inter Variable', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.2;
}

p,
ul,
ol {
  line-height: 1.75;
}

/* Utilities layer for animations. The current arbitrary & docs tailwind animation guidelines are not maintainable long term. 
  It would make more sense to supply the user with the animation declaration in the docs.
*/
@layer utilities {
  .accordion-animation-1[data-state='open'] {
    animation: 500ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards accordion-open;
  }

  .accordion-animation-1[data-state='closed'] {
    animation: 500ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards accordion-close;
  }

  .text-outline-lg {
    text-shadow: 1.6px 0.6px 0 var(--qwikui-blue-800),
      -0.6px -0.6px 0 var(--qwikui-blue-800), 0.6px -0.6px 0 var(--qwikui-blue-800),
      -0.6px 0.6px 0 var(--qwikui-blue-800), 0.6px 0.6px 0 var(--qwikui-blue-800);
  }

  .dark .text-outline-lg {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-purple-900),
      -0.6px -0.6px 0 var(--qwikui-purple-900), 0.6px -0.6px 0 var(--qwikui-purple-900),
      -0.6px 0.6px 0 var(--qwikui-purple-900), 0.6px 0.6px 0 var(--qwikui-purple-900);
  }

  .text-outline-beta {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-blue-800),
      -0.5px -0.5px 0 var(--qwikui-blue-800), 0.5px -0.5px 0 var(--qwikui-blue-800),
      -0.5px 0.5px 0 var(--qwikui-blue-800), 0.5px 0.5px 0 var(--qwikui-blue-800);
  }

  .dark .text-outline-beta {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-purple-800),
      -0.5px -0.5px 0 var(--qwikui-purple-800), 0.5px -0.5px 0 var(--qwikui-purple-800),
      -0.5px 0.5px 0 var(--qwikui-purple-800), 0.5px 0.5px 0 var(--qwikui-purple-800);
  }

  .text-outline-draft {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-slate-900),
      -0.5px -0.5px 0 var(--qwikui-slate-900), 0.5px -0.5px 0 var(--qwikui-slate-900),
      -0.5px 0.5px 0 var(--qwikui-slate-900), 0.5px 0.5px 0 var(--qwikui-slate-900);
  }
  .dark .text-outline-draft {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-slate-950),
      -0.5px -0.5px 0 var(--qwikui-slate-950), 0.5px -0.5px 0 var(--qwikui-slate-950),
      -0.5px 0.5px 0 var(--qwikui-slate-950), 0.5px 0.5px 0 var(--qwikui-slate-950);
  }

  .text-outline-planned {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-slate-500),
      -0.5px -0.5px 0 var(--qwikui-slate-500), 0.5px -0.5px 0 var(--qwikui-slate-500),
      -0.5px 0.5px 0 var(--qwikui-slate-500), 0.5px 0.5px 0 var(--qwikui-slate-500);
  }

  .dark .text-outline-planned {
    text-shadow: 1.5px 0.5px 0 var(--qwikui-slate-500),
      -0.4px -0.4px 0 var(--qwikui-slate-500), 0.4px -0.4px 0 var(--qwikui-slate-500),
      -0.4px 0.4px 0 var(--qwikui-slate-500), 0.4px 0.4px 0 var(--qwikui-slate-500);
  }

  .text-outline-blue-title {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-blue-800),
      -0.6px -0.6px 0 var(--qwikui-blue-800), 0.6px -0.6px 0 var(--qwikui-blue-800),
      -0.6px 0.6px 0 var(--qwikui-blue-800), 0.6px 0.6px 0 var(--qwikui-blue-800);
  }

  .text-outline-purple-title {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-purple-900),
      -0.6px -0.6px 0 var(--qwikui-purple-900), 0.6px -0.6px 0 var(--qwikui-purple-900),
      -0.6px 0.6px 0 var(--qwikui-purple-900), 0.6px 0.6px 0 var(--qwikui-purple-900);
  }

  .dark .text-outline-blue-title {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-blue-700),
      -0.8px -0.8px 0 var(--qwikui-blue-700), 0.8px -0.8px 0 var(--qwikui-blue-700),
      -0.8px 0.8px 0 var(--qwikui-blue-700), 0.8px 0.8px 0 var(--qwikui-blue-700);
  }

  .dark .text-outline-purple-title {
    text-shadow: 1.2px 1.2px 0 var(--qwikui-purple-700),
      -0.8px -0.8px 0 var(--qwikui-purple-700), 0.8px -0.8px 0 var(--qwikui-purple-700),
      -0.8px 0.8px 0 var(--qwikui-purple-700), 0.8px 0.8px 0 var(--qwikui-purple-700);
  }

  .setup-grid-areas {
    grid-template-areas: 'nav main toc';
  }

  .copy-btn-bg-dark {
    background: hsla(215, 25%, 27%, 0.9);
  }

  .copy-btn-bg-light {
    background: hsla(214, 32%, 91%, 0.9);
  }
}
