:root {
  --modal-animation: forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.modal-animation::backdrop {
  background: hsla(0, 0%, 0%, 0.5);
}

.modal-animation {
  animation: modalOpen 0.75s var(--modal-animation);
}

.modal-animation::backdrop {
  animation: modalFadeIn 0.75s var(--modal-animation);
}

.modal-animation.modal-closing {
  animation: modalClose 0.35s var(--modal-animation);
}

.modal-animation.modal-closing::backdrop {
  animation: modalFadeOut 0.35s var(--modal-animation);
}

@keyframes modalOpen {
  from {
    opacity: 0;
    transform: scale(150%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes modalClose {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-200%);
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.sheet::backdrop {
  background: hsla(0, 0%, 0%, 0.5);
}

.sheet {
  right: 0;
  margin-right: 0;
  height: 100vh;
  animation: sheetOpen 0.75s var(--modal-animation);
}

.sheet::backdrop {
  animation: modalFadeIn 0.75s var(--modal-animation);
}

.sheet.modal-closing {
  animation: sheetClose 0.35s var(--modal-animation);
}

.sheet.modal-closing::backdrop {
  animation: modalFadeOut 0.35s var(--modal-animation);
}

.sheet.bottom-sheet {
  right: revert;
  margin-right: revert;
  height: auto;
  bottom: 0;
  margin-bottom: 0;
}

@keyframes sheetOpen {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes sheetClose {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
