li {
  /**
   * CAUTION need at least 1px height to scroll to 
   * the active item on initial render (startAt)
   */
  min-height: 1px;
  /*  */
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 100%;
}
