:where(.carousel) {
  --scroll-width: 0.95em;

  display: grid;
  grid-template-areas:
    'prev item next'
    'tbnl tbnl tbnl'
    'ctrl ctrl ctrl';
  align-items: center;
  position: relative;
}

:where(.carousel:focus-within) {
  outline: -webkit-focus-ring-color auto 1px;
  z-index: 1;
}

:where(.carousel:hover) {
  margin-bottom: calc(-1 * var(--scroll-width));
}

:where(.carousel:not(:hover)) .carousel__items {
  /* 1px border */
  /* margin-bottom: var(--scroll-width); */
  /* prevent from CLS */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

:where(.carousel:not(:hover)) .carousel__items::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

:where(.carousel__items) {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;

  -ms-overflow-style: var(--scroll-width);
  scrollbar-width: var(--scroll-width);
}
