.pagination-wrapper {
  display: flex;
  gap: 12px;
}

.pagination-divider {
  height: 32px;
  width: 32px;
  border-radius: var(--rounded-base);
  color: white;
}

.prevNextButtons {
  height: 32px;
  cursor: pointer;
  border-radius: var(--rounded-base);
  background-color: white;
  padding: 0 8px;
  color: black;
  border: 2px dotted hsl(var(--foreground));
}
.prevNextButtons:hover {
  background-color: hsl(var(--primary) / 0.08);
}
.prevNextButtons:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.pagination-btn {
  height: 32px;
  cursor: pointer;
  border-radius: var(--rounded-base);
  background-color: white;
  padding: 0 12px;
  text-align: center;
}

.pagination-selected-btn {
  pointer-events: none;
  height: 32px;
  border-radius: var(--rounded-base);
  color: hsl(var(--foreground));
  border: 2px dotted hsl(var(--primary));
  background-color: hsl(var(--primary) / 0.08);
}
