.my-modal {
  position: fixed;
  transition: opacity 0.4s ease;
  opacity: 0;
  /* animation: fadeIn 0.4s forwards; */

  /* left: 200px; */
}

.my-modal[open] {
  opacity: 1;
}

.my-modal.closing {
  /* animation: fadeOut 0.4s forwards; */
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
