.my-modal {
  position: fixed;
  animation: fadeIn 0.4s forwards;

  /* left: 200px; */
}

.my-modal.closing {
  animation: fadeOut 0.4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
