.carousel-root {
  width: 100%;
}

.carousel-scroller {
  display: flex;
  padding-block: 0.5rem;
}

.carousel-slide {
  /* how the slide is sized */
  flex-basis: 100%;
  flex-shrink: 0;

  user-select: none;
  border: 2px dotted hsl(var(--primary));
  min-height: 10rem;
}

.carousel-pagination {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border: 2px dotted hsl(var(--foreground));
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  border: 2px dotted hsl(var(--accent));
}

.carousel-buttons button {
  border: 2px dotted hsl(var(--foreground));
  padding: 0.5rem;
}

.carousel-buttons button:hover {
  background-color: hsla(var(--primary) / 0.08);
}

.carousel-buttons button:disabled {
  opacity: 0.5;
}

.carousel-pagination-bullet {
  cursor: pointer;
  padding-inline: 0.5rem;
}

.carousel-pagination-bullet[data-active] {
  outline: 2px dotted hsl(var(--primary));
  background-color: hsla(var(--primary) / 0.08);
}

.carousel-pagination-bullet:hover {
  background-color: hsla(var(--primary) / 0.08);
}

.carousel-half-size {
  flex-basis: 50%;
  border: 2px dotted hsl(var(--primary));
}
