.tabs-example [role='tab'] {
  width: 175px;
  background: hsl(var(--muted));
}

.tabs-example [role='tab'][disabled] {
  color: hsl(var(--muted-foreground));
  font-weight: 400;
}

.tabs-example [role='tab'].selected {
  background: hsl(var(--background));
  font-weight: 600;
}

.tabs-example [role='tablist'] {
  border: 1px solid;
  margin-bottom: 1rem;
}

.tabs-example h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
