.tabs-example {
  width: 100%;
}

.tabs-example [role='tab'] {
  width: 138px;
  background: var(--background);
  color: var(--foreground);
}

.tabs-example [role='tab'][disabled] {
  opacity: 0.3;
  font-weight: 400;
}

.tabs-example [role='tab'][data-state='selected'] {
  background: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.tabs-example [role='tablist'] {
  border: 2px dotted hsl(var(--foreground));
  margin-bottom: 1rem;
  max-width: fit-content;
}

.tabs-example h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
