@layer qui-togglegroup-root {
  [data-qui-togglegroup-root] {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  [data-qui-togglegroup-root][data-orientation='horizontal'] {
    flex-direction: row;
  }

  [data-qui-togglegroup-root][data-orientation='vertical'] {
    flex-direction: column;
  }
}
