*[data-state] {
  z-index: 99;
  position: absolute;
  opacity: 0;
  transition: opacity var(--duration, 0ms) linear;
}

*[data-state='positioned'] {
  display: block;
  opacity: 1;
}

*[data-state='unpositioned'] {
  display: block;
  visibility: 'hidden';
}

*[data-state='fading'] {
  opacity: 0;
}

*[data-state='hidden'] {
  display: none;
}
