.docs {
  & {
    @apply lg:ml-80 w-full lg:max-w-4xl xl:max-w-6xl py-8 px-8 lg:px-16 overflow-hidden;
  }

  /*
    Styles that are direct descendents of .docs
    this should not affect the styles inside of the tabpanel
    A.K.A the components
  */
  & > {
    p {
      @apply mb-4;
    }

    h1 {
      @apply text-3xl md:text-5xl md:mb-12 font-[800] tracking-wide;
    }

    h2 {
      @apply text-3xl font-bold mt-20 mb-12 border-b-2;
    }

    h3 {
      @apply text-xl font-bold mt-4 mb-6;
    }

    h4 {
      @apply text-lg mt-4 mb-6;
    }

    h5 {
      @apply text-xl mb-1 font-bold;
    }

    blockquote {
      @apply bg-qwikui-blue-800 text-white shadow-light-medium dark:shadow-dark-medium dark:bg-qwikui-purple-800 p-4 lg:p-6 dark:border-[#F3F3F3] border-[#333333] rounded-xl my-4;
    }

    ul {
      @apply list-disc px-6 mb-4 font-[500];
    }

    li {
      @apply py-2;
    }
  }

  a {
    @apply border-b-[1.5px] border-qwikui-blue-500 dark:border-qwikui-purple-400 transition transition-colors duration-300 ease-step hover:border-qwikui-blue-600 font-bold;
  }

  p code {
    @apply bg-white text-gray-950  shadow-dark-low dark:shadow-dark-low px-2 py-[2px] mx-1 rounded-md font-[600] border-[1px] dark:border-white w-max border-[#333333];
  }

  /* adds sufficient padding to the table items / API Component */
  td article {
    @apply pt-4 pb-4 mb-0;
  }

  td p {
    @apply mb-0;
  }

  blockquote a {
    @apply border-qwikui-blue-200 hover:border-qwikui-blue-100 dark:border-qwikui-purple-100 dark:hover:border-qwikui-purple-200;
  }
}
