:root {
  --combobox-width: 12rem;
}

.combobox-root {
  min-width: var(--combobox-width);
}

.combobox-input {
  all: unset;
  box-sizing: border-box;
  border-right: none;
  background: hsl(var(--background));
  padding-inline: 0.5rem;
}

.combobox-trigger {
  border-radius: calc(var(--border-radius) / 2);
  width: 44px;
  background: hsla(var(--foreground) / 0.05);
}

.combobox-trigger,
.combobox-input {
  height: 44px;
}

.combobox-control {
  height: 44px;
  display: flex;
  align-items: center;
  border: 2px dotted hsla(var(--foreground));
}

.combobox-popover {
  width: 100%;
  max-width: var(--combobox-width);
}

.combobox-listbox {
  width: 100%;
  background-color: hsl(var(--background));
  padding: 0.5rem;
  border: 2px dotted hsla(var(--foreground) / 0.6);
  border-radius: calc(var(--border-radius) / 2);
  max-width: var(--combobox-width);
  color: hsl(var(--foreground));
}

.combobox-icon {
  width: 1rem;
  height: 1rem;
}

.combobox-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsla(var(--foreground) / 0.8);
  padding-top: 0.5rem;
}

.combobox-max-height {
  max-height: 15rem;
  overflow-y: auto;
}

[data-highlighted] {
  outline: 2px dotted hsla(var(--primary) / 1);
  border-radius: calc(var(--border-radius) / 2);
}

[data-disabled] {
  opacity: 0.6;
  background: hsl(var(--foreground) / 0.05);
}
