/**
 *
 * We use DaisyUI's css classes for modal to style the dialog.
 * DaisyUI builds on top of Div-Elements. We use the <dialog>-Element.
 *
 * That's why we need to move the backdrop styling to the dialog's
 * backdrop-pseudo-element.
 *
 */

.modal--backdrop {
  background-color: initial;
}

.modal--backdrop::backdrop {
  background-color: hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));

  /* copied from daisy-ui modal */

  --n: 218.18 18.033% 11.961%;
  --nf: 222.86 17.073% 8.0392%;
  --tw-bg-opacity: 0.4;
}

.modal-box--full-screen {
  width: inherit;
  max-width: unset;

  height: inherit;
  max-height: unset;
}
