/* Define default light theme colors */
.switch {
  --thumb-color: hsla(var(--switch-thumb-color));
  --track-color-inactive: hsla(80 0% 80%);
  --track-color-active: hsla(var(--primary));
  --isLTR: 1;

  display: flex;
  align-items: center;
  gap: 2ch;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &>input {
    --thumb-position: 0%;
    --thumb-transition-duration: .25s;
    padding: 2px;
    background: var(--track-color-inactive);
    inline-size: 4rem;
    block-size: 2rem;
    border-radius: 4rem;
    appearance: none;
    pointer-events: none;
    touch-action: pan-y;
    border: none;
    outline-offset: 5px;
    box-sizing: content-box;
    flex-shrink: 0;
    display: grid;
    align-items: center;
    grid: [track] 1fr / [track] 1fr;
    transition: background-color .25s ease;

    &::before {
      --highlight-size: 0;
      content: "";
      cursor: pointer;
      pointer-events: auto;
      grid-area: track;
      inline-size: 2rem;
      block-size: 2rem;
      background: var(--thumb-color);
      box-shadow: 0 0 0 var(--highlight-size) hsla(var(--thumb-color-highlight));
      border-radius: 50%;
      transform: translateX(var(--thumb-position));

      @media (--motionOK) {
        transition:
          transform var(--thumb-transition-duration) ease,
          box-shadow .25s ease;
      }
    }

    &:not(:disabled):hover::before {
      --highlight-size: .5rem;
    }

    &:checked {
      background: var(--track-color-active);
      --thumb-position: calc((4rem - 100%) * var(--isLTR));
    }

    &:indeterminate {
      --thumb-position: calc(1rem * var(--isLTR));
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.35;
      &::before {
        cursor: not-allowed;
        box-shadow: inset 0 0 0 2px hsl(0 0% 100% / 10%);
      }
    }
  }
}

/* Dark theme overrides */
.theme-dark .switch {
  --background: 210, 50%, 20%; /* Adjusted for dark theme */
  --primary: 210, 80%, 60%; /* Adjusted for dark theme */
  --thumb-color: hsla(var(--background));
  --track-color-inactive: hsla(240, 10%, 50%);
  --track-color-active: hsla(var(--primary));
}
