@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
}

body {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
}

.layout {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-areas: 'sidebar  content';
}

.sidebar {
  border-right: 2px solid var(--qwik-dark-purple);
}

.sidebar > select {
  margin: 10px auto;
  display: inherit;
  background-color: white;
  color: black;
}

.content {
  margin: 20px;
}
