.navigation-bar__start {
  justify-content: flex-start;
  width: 50%;
}
.navigation-bar__end {
  justify-content: flex-end;
  width: 50%;
}
.navigation-bar__center {
  justify-content: flex-end;
  width: 50%;
}
